include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include syringe_pump_controller *
recursive-exclude syringe_pump_controller *.pyc
recursive-exclude syringe_pump_controller *.o
