include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include stepper_motor_controller *
recursive-exclude stepper_motor_controller *.pyc
recursive-exclude stepper_motor_controller *.o
